<div class="container-fluid full-height-width">
  <div class="row well-content">
    <div class="col-md-8 col-sm-offset-2">    

    <div class="row">
     	<div class="col-md-12 border-bottom centered-item">
    		<h2>Add Meal</h2>
      </div>
    </div>

    <%= form_for(:meal, html: { multipart: true }) do |f| %>

    <div class="row">
        <div class="col-md-6 picture-box">

        <% if @meal.image.url %>
          <div class = "image_div">
          <img class = "img-responsive" src = "<%= @meal.image.url %>">
          </div>
          <% else %>
          <div class = "image_div">
          <img class = "img-responsive" src = "/assets/knife-and-fork-orange-md.png">
          </div>
        <% end %>

          <%= f.label("Image (Optional)") %>:
          <%= f.file_field :image %>
        </div>


      	<div class="col-md-6">
      			<%= f.label :name %>:
      			<%= f.text_field :name, class: "form-control input-text" %>
      	</div>

      	<div class="col-md-6">
      			<%= f.label :description %>:
      			<%= f.text_area :description, class: 'form-control input-text-area' %>
      	</div>
    </div>


    <div class="row">
      <div class="col-md-12 centered-item">	
    	<p>
    	<%= f.submit "Submit", class: "btn" %>
    	</p>
      </div>
    </div>	
    <% end %>
  </div>
  </div>
  </div>
