  <script type="text/javascript">
      $(document).ready(function() {
        $('.select-two').select2();
      });
  </script>		
<div class="container-fluid full-height-width">
  <div class="row well-content">
    <div class="col-md-8 col-sm-offset-2">  
		<div class="row">
		  <div class="col-md-12 border-bottom centered-item">
			<h2>Edit Meal</h2>
		  </div>
		</div>	

		<%= form_for(@meal, html: { multipart: true }) do |f| %>

		<div class="row">
        <div class="col-md-6 picture-box">

        <% if @meal.image.url %>
          <div class = "image_div">
          <img class = "img-responsive" src = "<%= @meal.image.url %>">
          </div>
          <% else %>
          <div class = "image_div">
          <img class = "img-responsive" src = "/assets/knife-and-fork-orange-md.png">
          </div>
        <% end %>

          <%= f.label("Image (Optional)") %>:
          <%= f.file_field :image %>


        </div>

		  <div class="col-md-6">
			<p>
			<%= f.label :name %>:
			<%= f.text_field :name, class: 'form-control input-text' %>
			</p>
		  </div>	

		  <div class="col-md-6">
			<p>
			<%= f.label :description %>:
			<%= f.text_field :description, class: 'form-control input-text' %>
			</p>
		  </div>

		  <div class="col-md-6">
		  	<p>
		  	<label>Add dish to meal:</label>
		  	<%= select_tag :component_id, options_from_collection_for_select(@components, :id, :description, params[:component_id]), include_blank: true, class: "select-two form-control select-two-style" %>
		  </p>
		  </div>
		 </div>
	
		 <div class="row"> 
		  <div class="col-md-12 centered-item">
		  	<br>
		  </div>
		</div>
		 <div class="row"> 
		  <div class="col-md-12 centered-item">

			<table class="table table-striped">
				<tr>
					<th>Dish</th>
					<th>Remove Dish</th>
				</tr>

				<% @meal.components.each do |meal_component| %>
				<tr>
					<td><%= meal_component.description %></td>
					<td>[<%=link_to "remove", meal_delete_path(component_id: meal_component.id, id: @meal.id) %>]</td>
				</tr>


				<% end %>
			</table>
		</div>
	</div>


		<div class="row">
		  <div class="ol-md-12 centered-item">
			
			<%= f.submit "Save Meal", class: "btn" %>
		  </div>
		</div>	

		<% end %>
 		</div>
 	</div>
</div>