<h1>Add Item to Pantry</h1>

<%= form_for(:pantry) do |f| %>

<p>
<%= f.label :ingredient %>:
<%= f.collection_select(:ingredient_id, @ingredients, :id, :description) %>
</p>

<p>
<%= f.label :quantity %>:
<%= f.text_field :quantity %>
</p>

<p>
<%= f.submit %>
</p>
<% end %>

<p></p>
<%= button_to "Don't see your ingrident?", ingredient_add_path, method: :post %>
