<div class="row">
  <div class="col-md-4 col-md-offset-5">
	<h2>Edit Pantry Item</h2>
  </div>
</div>	

<%= form_for(@pantry) do |f| %>

<div class="row">
  <div class="col-md-4 col-md-offset-5">
	<p>
	<%= f.label 'Ingredient' %>:
	<%= @pantry.ingredient.description %>
	</p>
  </div>
</div>	

<div class="row">
  <div class="col-md-4 col-md-offset-5">
	<p>
	<%= f.label :quantity %>:
	<%= f.text_field :quantity %>
	<%= f.label @pantry.ingredient.unit_of_measure %>
	</p>
  </div>
</div>	

<div class="row">
  <div class="col-md-4 col-md-offset-5">
	<p>
	<%= f.submit %>
	</p>
  </div>
</div>	

<% end %>
