<h1>Edit Pantry Item</h1>

<%= form_for(@pantry) do |f| %>

<p>
<%= f.label 'Ingredient' %>:
<%= @pantry.ingredient.description %>
</p>

<p>
<%= f.label :quantity %>:
<%= f.text_field :quantity %>
<%= f.label @pantry.ingredient.unit_of_measure %>
</p>

<p>
<%= f.submit %>
</p>

<% end %>
