<div class="container-fluid full-height-width">
	<div class="row well-content">
		<div class="col-md-10 col-sm-offset-1">

		<div class="row">
		  <div class="col-md-12 centered-item border-bottom">
			<h2>Items In Your Pantry</h2>
		  </div>
		</div>	

		<div class="row">
		  <div class="col-md-12 centered-item">
			<table class="table table-striped">
				<tr>
					<th>Ingredient</th>
					<th>Quantity</th>
					<th></th>
				</tr>

				<% @pantries.each do |pantry| %>
				
				<tr>
					<td><%= pantry.ingredient.description %></td>
					<td><%= pantry.quantity %> <%= pantry.ingredient.unit_of_measure %></td>
					<td>[<%= link_to "update", pantry_edit_path(pantry) %>]</td>
				</tr>

				<% end %>

			</table>
		  </div>
		</div>	

		<div class="row">
		  <div class="col-md-12 centered-item">
			<p>
				<%= link_to "Add New Ingredient to Pantry", pantry_add_path %>
			</p>
		  </div>
		</div>	
	</div>
	</div>
</div>
