<div class="row">
  <div class="col-md-12">
	<h2>Favorite Meals</h2>
  </div>
</div>	

<div class="row">
  <div class="col-md-12">
	<table class="table table-striped">
		<tr>
			<th>Meal</th>
			<th>Edit/Remove</th>
		</tr>

		<% @meal_list.each do |meal_list| %>
		
		<tr>
			<td><%= meal_list.meal.name %></td>
			<td>[<%= link_to "Edit",meal_edit_path(meal_list.meal.id), method: :get %>]&nbsp[<%= link_to "Remove",meal_list_delete_path(meal_list.id), method: :delete %>]</td>
		</tr>

		<% end %>

	</table>
  </div>
</div>	

<%= form_tag class:"form-inline" do %>
<div class="form-group ">
<div class="row">
  <div class="col-md-12">
	<h2>Add meal to your list</h2>
  </div>
</div>	
<!-- NOTE: Right now this is pretty inneficient, we should implement a search funtion in the beta phase -->
<div class="row centered-item">
  <div class="col-md-4 box_center">
	<select name = "new_meal" class="select-two form-control">
		<% @meals.each do |meal| %>
			<option value = "<%= meal.id %>"><%= meal.name %></option>
		<% end %>
	</select>

	<%= submit_tag("Add Meal") %>
  </div>
</div>
</div>
</form>
<div class="row">
  <div class="col-md-12">
  	<%= link_to "Create a Meal",meal_add_path(), method: :get, class: "centered-item" %>
  </div>
</div>


<% end %>
