  
  <script type="text/javascript">
      $(document).ready(function() {
        $('.select-two').select2();
      });
  </script>	

<div class="container-fluid full-height-width">
	<div class="row well-content">
		<div class="col-md-10 col-sm-offset-1">

			<div class="row">
			  <div class="col-md-12 centered-item border-bottom">
				<h2>Favorite Meals</h2>
			  </div>
			</div>	

			<div class="row">
			  <div class="col-md-12 centered-item">
				<table class="table table-striped">
					<tr>
						<th></th>
						<th>Meal</th>
						<th>Edit/Remove</th>
					</tr>

					<% @meal_list.each do |meal_list| %>
					
					<tr>
						<td>
							<% if meal_list.meal.image.url %>
				          <img class = "img-thumbnail tumb" src = "<%=meal_list.meal.image.url %>">
				          <% else %>
				          <img class = "img-thumbnail tumb" src = "/assets/knife-and-fork-orange-md.png">
				        	<% end %>
				        </td>
						<td><%= link_to meal_list.meal.name, meal_detail_path(meal_list.meal.id) %></td>
						<td>[<%= link_to "update",meal_edit_path(meal_list.meal.id), method: :get %>]&nbsp[<%= link_to "remove",meal_list_delete_path(meal_list.id), method: :delete %>]</td>
					</tr>

					<% end %>

				</table>
			  </div>
			</div>	

			<%= form_tag class:"form-inline" do %>
			<div class="form-group ">
			<div class="row">
			  <div class="col-md-12 centered-item border-bottom">
				<h2>Add meal to your list</h2>
			  </div>
			</div>	
			<!-- NOTE: Right now this is pretty inneficient, we should implement a search funtion in the beta phase -->
			<div class="row">
			  <div class="col-md-12 centered-item">
				<select name = "new_meal" class="select-two form-control select-two-style">
					<% @meals.each do |meal| %>
						<option value = "<%= meal.id %>"><%= meal.name %></option>
					<% end %>
				</select>

				<%= submit_tag "Add Meal", class: "btn" %>
			  </div>
			</div>
			</div>
			</form>
			<div class="row">
			  <div class="col-md-12">
			  	<p>
			  	<%= link_to "Create a Meal",meal_add_path(), method: :get, class: "centered-item" %>
			  </p>
			  </div>
			</div>


			<% end %>
		</div>
	</div>
</div>
