<div class="row">
  <div class="col-md-4 col-md-offset-5">
	<h2>Your Meals</h2>
  </div>
</div>	

<div class="row">
  <div class="col-md-12">
	<table class="table table-striped">
		<tr>
			<th>Meal</th>
			<th>Remove</th>
		</tr>

		<% @meal_list.each do |meal_list| %>
		
		<tr>
			<td><%= meal_list.meal.name %></td>
			<td><%= link_to "Remove Meal",meal_list_delete_path(meal_list.id) %></td>
		</tr>

		<% end %>

	</table>
  </div>
</div>	

<%= form_tag do %>

<div class="row">
  <div class="col-md-4 col-md-offset-5">
	<h2>Add meal to your list</h2>
  </div>
</div>	
<!-- NOTE: Right now this is pretty inneficient, we should implement a search funtion in the beta phase -->
<div class="row">
  <div class="col-md-4 col-md-offset-5">
	<select name = "new_meal">
		<% @meals.each do |meal| %>
			<option value = "<%= meal.id %>"><%= meal.name %></option>
		<% end %>
	</select>

	<%= submit_tag("Add Meal") %>
  </div>
</div>	
<% end %>