<div class="container-fluid full-height-width">
	<div class="row well well-content-form">
		<div class="col-md-12 ">
		<%= form_tag do %>
		<div class="row">
		  <div class="col-md-12 centered-item">
			<P>My Favorite Meals:</p>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-12 centered-item">
			<select class="select-two form-control" name = "meal_select">
				<% @meal_list.each do |menu| %>
					<option value = "<%= menu.meal.id %>"><%= menu.meal.name %></option>
				<% end %>
			</select>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-12 centered-item">
			<%= link_to "Add Favorite Meals", meal_list_path(), method: :get %>
		  </div>
		</div>

		<br>
		<div class="row">
		  <div class="col-md-12 centered-item">
			<p>Date (MM/DD/YY)</p>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-12 centered-item">
			<input type = "text" name = "date" class="input-text">
		  </div>
		</div>

		<br>

		<div class="row">
		  <div class="col-md-12 centered-item">
			<p>Time (hour:minute)</p>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-12 centered-item">
			<input type="text" name="time" class="input-text">
				<select name = "time_offset">
				<option value = "0">AM</option>
				<option value = "1">PM</option>
			</select>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-12 centered-item">
			<br>
			<%= submit_tag("Add Meal") %>
		  </div>
		</div>


		<% end %>
		</div>
	</div>
</div>
