  <script type="text/javascript">
      $(document).ready(function() {
        $('.select-two').select2();
      });
  </script>

<div class="container-fluid full-height-width">
	<div class="row well-content">
		<div class="col-md-8 col-sm-offset-2">
		
		<div class="row">
		  <div class="col-md-12 centered-item border-bottom">
			<h2>My Favorite Meals:</h2>
		  </div>
		</div>

		<%= form_tag do %>
		<div class="row">
		  <div class="col-md-12 centered-item">
			<select class="select-two form-control select-two-style" name = "meal_select">
				<% @meal_list.each do |menu| %>
					<option value = "<%= menu.meal.id %>"><%= menu.meal.name %></option>
				<% end %>
			</select>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-12 centered-item">
			<%= link_to "Add Favorite Meals", meal_list_path(), method: :get %>
		  </div>
		</div>

		<br>
		<div class="row">
		  <div class="col-md-12 centered-item">
			
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-12 centered-item">
		  	<p><label>Date (MM/DD/YY)</label><br>
			<input type = "text" name = "date" class="input-text">
			</p>
		  </div>
		</div>

		<br>

		<div class="row">
		  <div class="col-md-12 centered-item">
		  	<p><label>Time (hour:minute)</label><br>
			<input type="text" name="time" class="input-text">
				<select name = "time_offset">
				<option value = "0">AM</option>
				<option value = "1">PM</option>
			</select>
		</p>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-12 centered-item">
			<br>
			<%= submit_tag "Add Meal", class: "btn", method: :post %>
		  </div>
		</div>


		<% end %>
		</div>
	</div>
</div>
