  <script type="text/javascript">
      $(document).ready(function() {
        $('.select-two').select2();
      });
  </script>

<div class="container-fluid full-height-width">
	<div class="row well-content">
		<div class="col-md-8 col-sm-offset-2">
			<div class="row">
			  <div class="col-md-12 border-bottom centered-item">
				<h1>Add Ingredient to Dish</h1>
			  </div>
			</div>	

			<%= form_for(:components_ingredient) do |f| %>

			<div class="row">
			  <div class="col-md-12 centered-item">
				<p>
				<%= f.label :ingredient %>:
				<%= f.collection_select(:ingredient_id, @ingredients, :id, :description,{} ,{class: "select-two form-control select-two-style"}) %>
				</p>
			  </div>
			 </div> 
			 
			 <div class="row">	
			  <div class="col-md-12 centered-item">
				<p>
				<%= link_to "Add New Ingredient", ingredient_add_path %>
				</p>
			  </div>
			 </div> 
			<div class="row">
			  <div class="col-md-12 centered-item">	
				<p>
				<%= f.submit "Save Dish's ingredient", class: "btn" %>
				</p>
			  </div>
			</div>	
			<% end %>
		</div>
	</div>
</div>
