<div class="row">
  <div class="col-md-4 col-md-offset-5">
	<h1>Add Ingredient to Dish</h1>
  </div>
</div>	

<%= form_for(:components_ingredient) do |f| %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<p>
	<%= f.label :ingredient %>:
	<%= f.collection_select(:ingredient_id, @ingredients, :id, :description) %>
	</p>
  </div>
</div>	
<div class="row">
  <div class="col-md-4 col-md-offset-4">
<%= link_to "Add New Ingredient", ingredient_add_path %>
  </div>
</div>	
<div class="row">
  <div class="col-md-4 col-md-offset-4">	
	<p>
	<%= f.submit "Save Dish's ingredient" %>
	</p>
  </div>
</div>	
<% end %>
