<div class="row">

  <div class="col-md-4 col-md-offset-5">
	<h1>Add New Dish</h1>
  </div>
</div>	

<%= form_for(:component, html: { multipart: true }) do |f| %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<p>
	<%= f.label :description %>:
	<%= f.text_field :description %>
	</p>
  </div>
</div>	

<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<p>
	<%= f.label :instructions %>:
	<textarea class = "form-control" rows = "5" id = "instructions">
		<%= f.text_field :instructions %>:
	</textarea>
	</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<p>
	<%= f.label("Image (Optional)") %>:
	<%= f.file_field :image %>
	</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">	
	<p>
	<%= f.submit "Save Dish" %>
	</p>
  </div>
</div>	
<% end %>
