<div class="container-fluid full-height-width">
	<div class="row well-content">
		<div class="col-md-8 col-sm-offset-2">
		<div class="row">
		 <div class="col-md-12 centered-item border-bottom">
			<h2>Edit Dish</h2>
		  </div>
		</div>	

		<%= form_for(@component, html: { multipart: true }) do |f| %>
		<div class="row">
		  <div class="col-md-6 ">
			
			<% if @component.image.url %>
			<div class = "image_div">
				<img class = "image" src = "<%= @component.image.url %>">
			</div>
			<% else %>
			<div class = "image_div">
				<img class = "image" src = "/assets/DSC_0152-Version-2.jpg">
			</div>
			<% end %>
		
			<%= f.label "Image (Optional)", class: "form-inline" %>:
			<%= f.file_field :image, class: "form-inline" %>

		  </div>	



		  <div class="col-md-6 ">
			<p>
			<%= f.label :description %>:
			<%= f.text_field :description, class: 'form-control input-text' %>
			</p>
		  </div>

		  <div class="col-md-6 ">
			<p>
			<%= f.label :instructions %>:
			<%= f.text_area :instructions, class: 'form-control input-text-area' %>
			</p>
		  </div>
		  </div>	


	<div class="row">
	  <div class="col-md-12">
		<table class="table table-striped">
			<tr>
				<th>Ingredient</th>
				<th></th>
			</tr>

			<% @comp_ingreds.each do |comp_ingred| %>
			<tr>
				<td><%= comp_ingred.ingredient.description %></td>
				<td><%= link_to "Remove", components_ingredient_delete_path(comp_ingred, @component.id) %></td>
			</tr>
			<% end %>
		</table>
		</div>
		</div>

		<div class="row">
		  <div class="col-md-12 centered-item">
		  	<p>
			<%= link_to "Add New Ingredient to Dish", components_ingredient_add_path(params[:id]) %>
 			</p>
 			</div>
		</div>	

		<div class="row">
		  <div class="col-md-12 centered-item">
			<p>
			<%= f.submit "Save Dish" %>
			</p>
		  </div>
		</div>	

		<% end %>
		</div>
	</div>
</div>