<div id="landing-back">
<div class="container-fluid full-height-width">
  <div class="row no-margin full-height-width">
    <div class="col-lg-4 well-area">
      <div class="row no-margin">
        <div class="col-md-12">
          <h2 class='landing-text'>Log in</h2>
        </div>
      </div>
      <div class="row no-margin">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field col-md-12 centered-item">
          <%= f.label :email, class: 'landing-text' %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
      </div>
      <div class="row no-margin">
        <div class="field col-md-12 centered-item">
          <%= f.label :password, class: 'landing-text' %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      </div>

        <% if devise_mapping.rememberable? -%>
        <div class="row no-margin">
          <div class="field col-md-12 centered-item">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: 'landing-text' %>
          </div>
        </div>
        <% end -%>

        <div class="row no-margin">
        <div class="actions col-md-12 centered-item">
          <%= f.submit "Log in" %>
        </div>
      </div>
      <% end %>

      <div class="row no-margin">
        <div class="field col-md-12 centered-item">
          <%= render "devise/shared/links" %>
        </div>
      </div> 


    </div>
  </div>
</div>

