<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<h2>Edit Info</h2>
  </div>
</div>	

<%= form_for(@datum) do |f| %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<p>
	<%= f.label ("first name") %>:
	<%= f.text_field :f_name %>
	</p>
  </div>
</div>	

<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<p>
	<%= f.label ("last_name") %>:
	<%= f.text_field :l_name %>
	
	</p>
  </div>
</div>	

<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<p>
	<%= f.submit "Save Changes"%>
	</p>
  </div>
</div>	

<% end %>
