<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<h2>Edit User Information</h2>
  </div>
</div>	

<%= form_for(@user) do |u| %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<p>
	<%= u.label 'Email' %>:
	<%= u.text_field :email %>
	</p>
  </div>
</div>	

<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<p>
	<%= u.label :first_name %>:
	<%= u.text_field :first_name %>
	</p>
  </div>
</div>	

<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<p>
	<%= u.label :last_name %>:
	<%= u.text_field :last_name %>
	</p>
  </div>
</div>	

<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<p>
	<%= u.submit %>
	</p>
  </div>
</div>	

<% end %>
