<div class="container-fluid full-height-width">
	<div class="row well-content">
		<div class="col-md-8 col-sm-offset-2">	

			<div class="row">
			  <div class="col-md-12 border-bottom centered-item">
				<h2>User Information</h2>
			</div>
		</div>
			  	

			<%= form_for(@user) do |u| %>

			<div class="row">
			  <div class="col-md-12 centered-item">
				<p>
					<%= u.label 'Email Address' %>:
					<%= @user.email %>
				</p>
				<p>
					<%= u.label 'First Name' %>: 
					<%= @user.first_name %>
				</p>
				<p>
					<%= u.label 'Last Name' %>: 
					<%= @user.last_name %>
				</p>
			  </div>
			</div>	

			<div class="row">
					  <div class="col-md-12 centered-item">
						<p>
							<%= link_to "Edit your information", user_edit_path(@user) %>
						</p>
					  </div>
					</div>	

			<% end %>

			</div>
			</div>
		</div>
	</div>
</div>
