<!DOCTYPE html>
<html>
<head>
  <title>MealGroceryPlanner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- Sign out area -->
<div class="container"> 
	<% if user_signed_in? %>
    <div class="row">
      <div class="col-md-12">
		    <%=button_to 'Sign out', destroy_user_session_path(), method: :delete%>
	    </div>
    </div>
  <% end %>
    

	<!-- Flash messages as requested/required by Devise -->
   	<% if flash[:notice] %>
   		<p class="notice"><%=flash[:notice] %></p>
   	<% end %>

   	<% if flash[:alert] %>
   		<p class="alert"><%= flash[:alert] %></p>
   	<% end %>

<%= yield %>
</div>
</body>
</html>
