<!DOCTYPE html>
<html>
<head>
  <title>MealGroceryPlanner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'select2.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'select2.min.js', 'data-turbolinks-track' => true %>

  <!--<link href="vendor/assets/stylesheets/css/select2.min.css" rel="stylesheet"/>
  <script src="vendor/assets/javascripts/js/select2.min.js"></script> -->


  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#meal_planner_links" aria-expanded="false">
        <i class="glyphicon glyphicon-menu-down"></i>
      </button>
      <a class="navbar-brand" href="#">
        Meal Grocery Planner
      </a>
    </div>
    <div class="collapse navbar-collapse" id="meal_planner_links"> 
      <ul class="nav navbar-nav">
      <% if not user_signed_in? %>
        <li><a>Welcome, please sign in or sign up!</a></li>
      <% end %>
      <% if user_signed_in? %>
        <li class="<%= active_class(menu_path()) %>"><%=link_to 'My Menu', menu_path(), method: :get%><span class="sr-only">(current)</span></li>
        <li class="<%= active_class(meal_list_path()) %>"><%=link_to 'Favorite Meals', meal_list_path(), method: :get%><span class="sr-only">(current)</span> </li>
        <li class="<%= active_class(component_path()) %>"><%=link_to 'Dishes', component_path(), method: :get%><span class="sr-only">(current)</span> </li>
        <li class="<%= active_class(pantry_path()) %>"><%=link_to 'My Pantry', pantry_path(), method: :get%><span class="sr-only">(current)</span> </li>
        <li class="<%= active_class(info_edit_path()) %>"><%=link_to 'User Info', info_edit_path(), method: :get%><span class="sr-only">(current)</span> </li>
        <li><%=link_to 'Sign out', destroy_user_session_path(), method: :delete%></li>
      <% end %>
    </div>
  
  </div>
</nav>

<!-- Flash messages as requested/required by Devise -->
 	<% if flash[:notice] %>
  <div class="container-fluid excess-margin"> 
    <div class="row excess-margin">
      <div class="col-md-12 excess-margin">
 		   <p class="alert alert-info"><%=flash[:notice] %></p>
      </div>
    </div>
  </div>
 	<% end %>

 	<% if flash[:alert] %>
  <div class="container-fluid excess-margin"> 
    <div class="row excess-margin">
      <div class="col-md-12 excess-margin">
 		   <p class="alert alert-danger"><%= flash[:alert] %></p>
      </div>
    </div>
  </div>
 	<% end %>

<!-- <div class="lettuce-area">
  <div class="cheese-area">
    <div class="burger-area">
      <div class="bun-area"> -->

          <%= yield %>

<!--       </div>
    </div>
  </div>
</div> -->

</body>
</html>

