<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<h2>Add Ingredient</h1>
  </div>
</div>

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<%= form_for(:ingredient, html: { multipart: true }) do |f| %>
	</div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<p>
	<%= f.label :description %>:
	<%= f.text_field :description, class: "input_text" %>
	</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<p>
	<%= f.label :unit_of_measure %>:
	<%= f.text_field :unit_of_measure %>
	</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<p>
	<%= f.label("Image (Optional)") %>:
	<%= f.file_field :image %>
	</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<p>
	<%= f.submit %>
	</p>
  </div>
</div>
<% end %>